.profile__avatar {
    margin: 0 30px 0 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 950px) {
    .profile__avatar {
        margin: 0 30px 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .profile__avatar {
        margin: 0;
        justify-self: center;
    }
}