.profile {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) 1fr;

    margin: 0 0 51px 0;
}

@media screen and (max-width: 768px) {
    .profile {
        margin: 42px 0 36px 0;
        justify-content: center;
        grid-template-columns: minmax(min-content, max-content);
        grid-template-rows: repeat(3, minmax(min-content, max-content));
    }
}